@media screen and (max-width: 991px) {
    .navigation-menu-sec svg {
        display: block;
        margin-right: 15px;
    }
    ul.navbar-nav {
        position: fixed;
        top: 82px;
        background-color: #000;
        padding: 30px 20px;
        border-radius: 12px;
        right: 0;
        left: 0;
        width: 100%;
        display: block;
        z-index: 3;
        opacity: 0;
        animation: slides linear 0.9s;
        margin: 0 auto;
        border-top-left-radius: unset;
        border-top-right-radius: unset;
    }
    @keyframes slides {
        0%{
            transform: translateY(-50px);
        }
        100%{
            transform: translateY(0px);
        }
    }
    li.nav-item {
        display: block;
        margin: 0;
    }
    .navigation-menu-sec:hover ul {
        opacity: 1;
    }
    .navigation-menu-sec {
        margin-left: auto;
        position: relative;
        margin: unset;
    }
    .mobile-menu-wr {
        justify-content: end;
    }
    
  }